Repository lakesoul-io/LakeSoul, pull requests merged in 2022-12, with the labels that each got.

#106 [Flink] write timestamp to int64 instead of int96 in flink sink
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/org/apache/flink/formats/parquet/row/ParquetRowDataWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/formats/parquet/utils/ParquetSchemaConverter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/TableSchemaWriterCreator.java
Labels: flink

#115 Add Benchmarks
  .github/workflows/flink-cdc-test.yml
  .github/workflows/maven-test.yml
  .gitignore
  docker/lakesoul-docker-compose-env/docker-compose.yml
  docker/lakesoul-docker-compose-env/mysql_init.sql
  docker/lakesoul-docker-compose-env/mysql_random_data_insert
  lakesoul-flink/src/main/java/com/dmetasoul/lakesoul/meta/external/mysql/MysqlDBManager.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/MysqlCdc.java
  lakesoul-spark/pom.xml
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/catalog/LakeSoulScanBuilder.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/utils/SparkUtil.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/Benchmark.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/CHBenchmark.scala
  pom.xml
  script/benchmark/1_create_table.py
  script/benchmark/2_insert_table_data.sh
  script/benchmark/3_add_column.py
  script/benchmark/4_update_data.py
  script/benchmark/5_change_column_type.py
  script/benchmark/6_drop_column.py
  script/benchmark/README.md
  script/benchmark/auto_test.sh
  script/benchmark/delete_data.py
  script/benchmark/drop_table.py
  script/benchmark/mysql_random_data_insert
  script/benchmark/properties
  script/benchmark/work-dir/lakesoul.properties
  script/get_jar_name.py
Labels: flink, spark

#117 Flink serde optimization
  .github/workflows/flink-cdc-test.yml
  README.md
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/MysqlCdc.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulDDLSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTableSinkStreamBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/DefaultMultiTablesBulkFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/BinaryDebeziumDeserializationSchema.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/BinarySourceRecord.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/LakeSoulRecordConvert.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/FlinkCDCMultiTableTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/FlinkSerdeTest.java
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/Benchmark.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/CHBenchmark.scala
  script/benchmark/properties
Labels: enhancement, flink

#118 Develop/native io spark
  .gitignore
  .gitmodules
  lakesoul-spark/pom.xml
  lakesoul-spark/src/main/java/org/apache/spark/sql/execution/datasources/parquet/NativeVectorizedReader.java
  lakesoul-spark/src/main/java/org/apache/spark/sql/execution/vectorized/WritableArrowColumnVector.java
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/tables/LakeSoulTable.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/merge/MergeParquetScan.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/merge/MergePartitionedFile.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/merge/parquet/Native/NativeMergeFilePartitionReaderFactory.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/merge/parquet/Native/NativeMergeParquetPartitionReaderFactory.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeFilePartitionReaderFactory.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeParquetPartitionReaderFactory.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeParquetScan.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/catalog/LakeSoulScanBuilder.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/sources/LakeSoulSQLConf.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/vectorized/NativeIOUtils.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/execution/datasource/parquet/ParquetNativeFilterSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/ArrowColumnVectorSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/CDCSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/NativeIOReaderSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/TestListener.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/aws/AwsTest.scala
  native-io/.gitignore
  native-io/Cargo.toml
  native-io/README.md
  native-io/lakesoul-io-c/Cargo.toml
  native-io/lakesoul-io-c/src/lib.rs
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/main/java/org/apache/arrow/lakesoul/io/ArrowJavaReader.java
  native-io/lakesoul-io-java/src/main/java/org/apache/arrow/lakesoul/io/NativeIOWrapper.java
  native-io/lakesoul-io-java/src/main/java/org/apache/arrow/lakesoul/io/jnr/LibLakeSoulIO.java
  native-io/lakesoul-io-java/src/main/java/org/apache/arrow/lakesoul/memory/ArrowMemoryUtils.java
  native-io/lakesoul-io-java/src/main/scala/org/apache/arrow/lakesoul/io/read/LakeSoulArrowReader.scala
  native-io/lakesoul-io-java/src/test/java/jnr/ffi/ArrowTest.java
  native-io/lakesoul-io-java/src/test/java/jnr/ffi/Example.java
  native-io/lakesoul-io-java/src/test/java/jnr/ffi/HelloWorld.java
  native-io/lakesoul-io-java/src/test/java/jnr/ffi/Qsort.java
  native-io/lakesoul-io-java/src/test/java/test/org/apache/arrow/DataManipulationSuite.java
  native-io/lakesoul-io-java/src/test/java/test/org/apache/arrow/DatasetSuite.java
  native-io/lakesoul-io-java/src/test/java/test/org/apache/arrow/QuickStartSuite.java
  native-io/lakesoul-io-java/src/test/resources/sample-parquet-files/part-00000-a9e77425-5fb4-456f-ba52-f821123bd193-c000.snappy.parquet
  native-io/lakesoul-io-java/src/test/resources/sample-parquet-files/part-00001-a9e77425-5fb4-456f-ba52-f821123bd193-c000.snappy.parquet
  native-io/lakesoul-io-java/src/test/resources/sample-parquet-files/part-00002-a9e77425-5fb4-456f-ba52-f821123bd193-c000.snappy.parquet
  native-io/lakesoul-io-java/src/test/resources/sample-parquet-files/part-00003-a9e77425-5fb4-456f-ba52-f821123bd193-c000.snappy.parquet
  native-io/lakesoul-io-java/src/test/resources/sample-parquet-files/part-00004-a9e77425-5fb4-456f-ba52-f821123bd193-c000.snappy.parquet
  native-io/lakesoul-io-java/src/test/scala/test/org/apache/arrow/lakesoul/TestLakeSoulReader.scala
  native-io/lakesoul-io/Cargo.toml
  native-io/lakesoul-io/src/filter/mod.rs
  native-io/lakesoul-io/src/filter/parser.rs
  native-io/lakesoul-io/src/lakesoul_reader.rs
  native-io/lakesoul-io/src/lib.rs
  native-io/rustfmt.toml
  pom.xml
Labels: enhancement, spark

#122 Support Kafka multiple topics sync to LakeSoul
  lakesoul-spark/pom.xml
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/kafka/KafkaStream.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/kafka/KafkaUtils.java
Labels: enhancement
