Repository lakesoul-io/LakeSoul, pull requests merged in 2023-05, with the labels that each got.

#204 [NativeIO] use tcmalloc as global allocator
  native-io/Cargo.lock
  native-io/lakesoul-io/Cargo.toml
  native-io/lakesoul-io/src/lib.rs
Labels: enhancement, native-io

#209 [NativeIO] fix memory leak in native reader
  native-io/lakesoul-io-c/src/lib.rs
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOReader.java
  native-io/lakesoul-io-java/src/main/scala/com/dmetasoul/lakesoul/LakeSoulArrowReader.scala
  native-io/lakesoul-io/src/lakesoul_reader.rs
Labels: bug, native-io

#207 [Flink] avoid cast global parameter to ParameterTool
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulDDLSink.java
Labels: bug, flink

#212 Implement Global Automatic Disaggregated Compaction Service
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBConnector.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBFactory.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBManager.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBUtil.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/dao/DataCommitInfoDao.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/dao/PartitionInfoDao.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/dao/TableInfoDao.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/dao/TableNameIdDao.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/dao/TablePathIdDao.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/entity/MetaInfo.java
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/meta/MetaCommit.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/ParametersTool.java
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/compaction/CompactionTask.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/PartitionFilter.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/TransactionCommit.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/catalog/LakeSoulScanBuilder.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/commands/CompactionCommand.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/commands/UpdateCommand.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/commands/UpsertCommand.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/commands/WriteIntoTable.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/utils/MetaData.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/Benchmark.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/CHBenchmark.scala
  native-io/lakesoul-io-java/src/main/scala/com/dmetasoul/lakesoul/LakeSoulArrowReader.scala
  native-io/lakesoul-io/src/lakesoul_io_config.rs
  native-io/lakesoul-io/src/lakesoul_reader.rs
  script/meta_init.sql
Labels: enhancement, spark

#221 add flink sql submitter(#199)
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/SubmitMain.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/Submitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/SubmitterFactory.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/common/FlinkOption.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/common/JobType.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/common/LanguageType.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/common/SubmitOption.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/common/SubmitType.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/flink/Configurations.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/flink/ExecuteSql.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/flink/FlinkSqlSubmitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/utils/SqlSplitter.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/SubmitMainTest.java
Labels: enhancement, flink

#241 Add cross build for native io
  .github/workflows/native-build.yml
  lakesoul-flink/pom.xml
  lakesoul-spark/pom.xml
  lakesoul-spark/src/main/scala/org/apache/spark/sql/vectorized/NativeIOUtils.scala
  native-io/Cargo.lock
  native-io/lakesoul-io-c/src/lib.rs
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/jnr/LibLakeSoulIO.java
  native-io/lakesoul-io-java/src/main/java/org/apache/arrow/c/jni/JniLoader.java
  native-io/lakesoul-io/Cargo.toml
Labels: enhancement, native-io
