Repository lakesoul-io/LakeSoul, pull requests merged in 2023-06, with the labels that each got.

#252 add flink source and sink ci test
  .github/workflows/flink-cdc-test.yml
  docker/lakesoul-docker-compose-env/docker-compose.yml
  docker/lakesoul-docker-compose-env/mysql_init.sql
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/metadata/LakeSoulCatalog.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/benchmark/DataExample.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/benchmark/LakeSoulDataGenSourceTable.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/benchmark/LakeSoulSourceToSinkTable.java
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/Benchmark.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/FlinkWriteDataCheck.scala
  script/benchmark/2_insert_table_data.sh
  script/benchmark/4_update_data.py
  script/benchmark/delete_data.py
Labels: flink

#253 [Flink] fix wrong logging config file in flink test
  lakesoul-flink/src/test/resources/log4j.properties
  lakesoul-flink/src/test/resources/log4j2-test.properties
Labels: bug, flink

#254 [Flink] Move partition column fill to native io
  .github/workflows/flink-cdc-test.yml
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/connector/LakeSoulPartitionFetcherContextBase.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulDynamicSplitEnumerator.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulLookupTableSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulOneSplitRecordsReader.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulPendingSplits.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulSplit.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulSplitReader.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-flink/src/main/java/org/apache/flink/table/runtime/arrow/ArrowReader.java
  lakesoul-flink/src/main/scala/com/dmetasoul/lakesoul/meta/DataOperation.scala
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/AbstractTestBase.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/DebugMain.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/FlinkSerdeTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/LakeSoulCatalogTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/LakeSoulCatalogTestBase.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/LakeSoulFileSinkTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/LakeSoulFlinkTestBase.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/LakeSoulTestUtils.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/Main.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/OracleDBManagerTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/SubmitMainTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/benchmark/LakeSoulDataGenSourceTable.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/benchmark/LakeSoulSourceToSinkTable.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/LakeSoulLookupJoinCase.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/LakeSoulStreamingLookupJoinCase.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/sink/LakeSoulTableSinkCase.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/BatchReadSuite.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DDLSuite.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DMLSuite.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DataTypeSupportTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/ReadWithTableAPI.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/StreamReadSuite.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/TestUtils.java
  lakesoul-flink/src/test/resources/log4j2-test.properties
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/merge/MergeParquetScan.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/Benchmark.scala
  native-io/Cargo.toml
  native-io/lakesoul-io/src/lakesoul_reader.rs
  website/docs/03-Usage Docs/06-flink-lakesoul-connector.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/06-flink-lakesoul-connector.md
Labels: flink, native-io

#256 [Flink] Add source failover test cases
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/MysqlCdc.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/flink/FlinkSqlSubmitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/TableSchemaWriterCreator.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/LakeSoulCatalogMocks.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/LakeSoulTestUtils.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/LakeSoulLookupJoinCase.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/fail/LakeSoulFailTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/StreamReadSuite.java
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io/src/transform.rs
Labels: flink

#257 [Flink] LakeSoulSinkGlobalCommitter
  .github/workflows/flink-cdc-test.yml
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/com/dmetasoul/lakesoul/meta/external/mysql/MysqlDBManager.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/MysqlCdc.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/metadata/LakeSoulCatalog.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTableSinkStreamBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTablesSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/BucketsBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/BulkFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkGlobalCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/state/LakeSoulMultiTableSinkCommittable.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/state/LakeSoulMultiTableSinkGlobalCommittable.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/state/LakeSoulSinkCommittableSerializer.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/state/LakeSoulSinkGlobalCommittableSerializer.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/AbstractLakeSoulMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/DefaultLakeSoulWriterBucketFactory.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulRowDataOneTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulWriterBucket.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/NativeParquetWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/TableSchemaWriterCreator.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkOptions.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/BinaryDebeziumDeserializationSchema.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/BinarySourceRecord.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/LakeSoulRecordConvert.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/LakeSoulRowDataWrapper.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/TableSchemaIdentity.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/FlinkCDCMultiTableTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/LakeSoulCatalogTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/sink/FlinkCommitterTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/sink/LakeSoulTableSinkCase.java
Labels: flink
