Repository lakesoul-io/LakeSoul, pull requests merged in 2023-02, with the labels that each got.

#148 [NativeIO] upgrade arrow-rs to 31 and datafusion to 17
  .github/workflows/flink-cdc-test.yml
  .github/workflows/maven-test.yml
  native-io/Cargo.lock
  native-io/lakesoul-io-c/Cargo.toml
  native-io/lakesoul-io-java/src/main/java/org/apache/arrow/lakesoul/io/jnr/JnrLoader.java
  native-io/lakesoul-io/Cargo.toml
Labels: native-io

#149 [NativeIO][Spark] Package native lib in lakesoul-spark jar
  lakesoul-flink/pom.xml
  lakesoul-spark/pom.xml
  lakesoul-spark/src/main/java/org/apache/spark/sql/execution/datasources/parquet/NativeVectorizedReader.java
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/io/ParquetScanBenchmark.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/io/README.md
  native-io/Cargo.lock
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/main/java/org/apache/arrow/lakesoul/io/NativeIOBase.java
Labels: spark, native-io

#150 [NativeIO] use maven profile for native packaging. default to local native build
  .github/workflows/flink-cdc-test.yml
  .github/workflows/maven-test.yml
  lakesoul-flink/pom.xml
  lakesoul-spark/pom.xml
  native-io/lakesoul-io-java/pom.xml
Labels: native-io

#151 [NativeIO][Spark] Integrate nativeIO writer in lakesoul-spark
  .github/workflows/maven-test.yml
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeFilePartitionReaderFactory.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeParquetFileFormat.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeParquetOutputWriter.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeParquetPartitionReaderFactory.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/Snapshot.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/CDCSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/CompactionSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/DeleteScalaSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/DropTableSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/MergeIntoSQLSuite.scala
Labels: spark, native-io

#152 fix ParquetNativeFilterSuite
  native-io/lakesoul-io/src/lakesoul_reader.rs
Labels: bug, native-io

#155 [NativeIO] optimize with smallvec for native merge
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/io/MorReadBenchmark.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/io/README.md
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/io/UpsertWriteBenchmark.scala
  native-io/Cargo.lock
  native-io/lakesoul-io/Cargo.toml
  native-io/lakesoul-io/src/lakesoul_io_config.rs
  native-io/lakesoul-io/src/sorted_merge/combiner.rs
  native-io/lakesoul-io/src/sorted_merge/merge_operator.rs
  native-io/lakesoul-io/src/sorted_merge/sort_key_range.rs
  native-io/lakesoul-io/src/sorted_merge/sorted_stream_merger.rs
Labels: native-io

#157 [NativeIO][Flink] fix flink writer batch reset in java before write
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/NativeParquetWriter.java
Labels: flink, native-io

#159 [NativeIO] Native hdfs object store
  lakesoul-spark/src/main/java/org/apache/spark/sql/execution/datasources/parquet/NativeVectorizedReader.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeParquetOutputWriter.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/vectorized/NativeIOUtils.scala
  native-io/Cargo.lock
  native-io/Cross.toml
  native-io/docker/cross.Dockerfile
  native-io/lakesoul-io-c/src/lib.rs
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/main/java/org/apache/arrow/lakesoul/io/NativeIOBase.java
  native-io/lakesoul-io/Cargo.toml
  native-io/lakesoul-io/src/hdfs/mod.rs
  native-io/lakesoul-io/src/hdfs/util.rs
  native-io/lakesoul-io/src/lakesoul_io_config.rs
  native-io/lakesoul-io/src/lakesoul_writer.rs
  native-io/lakesoul-io/src/lib.rs
Labels: enhancement, native-io
