Repository lakesoul-io/LakeSoul, pull requests merged in 2023-03, with the labels that each got.

#164 fix memory leak. add columnar supports
  lakesoul-spark/src/main/java/org/apache/spark/sql/execution/datasources/parquet/NativeVectorizedReader.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/merge/parquet/Native/NativeMergeFilePartitionReaderFactory.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/merge/parquet/Native/NativeMergeParquetPartitionReaderFactory.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/rules/SetPartitionAndOrdering.scala
  native-io/lakesoul-io-java/src/main/java/org/apache/arrow/lakesoul/io/NativeIOBase.java
  native-io/lakesoul-io-java/src/main/scala/org/apache/arrow/lakesoul/io/read/LakeSoulArrowReader.scala
Labels: spark, native-io

#173 [NativeIO] upgrade arrow version to 11
  lakesoul-flink/pom.xml
  lakesoul-spark/pom.xml
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/test/java/test/org/apache/arrow/DataManipulationSuite.java
  native-io/lakesoul-io-java/src/test/java/test/org/apache/arrow/JnrLoaderTest.java
  pom.xml
Labels: enhancement, native-io

#175 [NativeIO][Flink] Fix Flink CDC Data Sort Bug and Handle DataType Change Issues from Mysql to LakeSoul
  lakesoul-flink/src/main/java/com/dmetasoul/lakesoul/meta/external/jdbc/JdbcDataTypeConverter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/NativeParquetWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkOptions.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/BinarySourceRecord.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/LakeSoulRecordConvert.java
  lakesoul-flink/src/main/java/org/apache/flink/table/runtime/arrow/ArrowUtils.java
  lakesoul-flink/src/main/java/org/apache/flink/table/runtime/arrow/writers/TimestampWriter.java
  lakesoul-spark/src/main/java/org/apache/spark/sql/execution/datasources/parquet/NativeVectorizedReader.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/commands/CompactionCommand.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/UpsertSuiteBase.scala
  native-io/Cargo.lock
  native-io/lakesoul-io/Cargo.toml
  native-io/lakesoul-io/src/constant.rs
  native-io/lakesoul-io/src/lakesoul_writer.rs
  native-io/lakesoul-io/src/lib.rs
  native-io/lakesoul-io/src/sorted_merge/merge_operator.rs
  native-io/lakesoul-io/src/sorted_merge/sort_key_range.rs
  native-io/lakesoul-io/src/sorted_merge/sorted_stream_merger.rs
  native-io/lakesoul-io/src/transform.rs
Labels: bug, flink, native-io

#176 fix native_io_timestamp_conversion for default case
  native-io/lakesoul-io/src/default_column_stream/default_column_stream.rs
Labels: bug, native-io

#177 Fix flink ci
  .github/workflows/flink-cdc-test.yml
  lakesoul-flink/pom.xml
  lakesoul-spark/pom.xml
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/sources/LakeSoulSQLConf.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/Benchmark.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/io/ParquetScanBenchmark.scala
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io/src/lakesoul_reader.rs
  native-io/lakesoul-io/src/lakesoul_writer.rs
Labels: bug, flink

#182 fix snapshot query default start time
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/tables/LakeSoulTable.scala
Labels: bug

#185 fix unexpectively close partitionColumnVectors on closeCurrentBatch
  lakesoul-spark/src/main/java/org/apache/spark/sql/execution/datasources/parquet/NativeVectorizedReader.java
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/UpsertSuiteBase.scala
Labels: bug, native-io

#188 add support for non-pk steaming read in spark
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/StreamParquetScan.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/catalog/LakeSoulScanBuilder.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/sources/LakeSoulSink.scala
Labels: bug, spark

#189 upgrade jffi to 1.3.11 for centos 7
  native-io/lakesoul-io-java/pom.xml
Labels: bug, native-io

#180 [Native-IO]add native_io support for empty schema and struct type
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/NativeParquetWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/TableSchemaWriterCreator.java
  lakesoul-spark/pom.xml
  lakesoul-spark/src/main/java/org/apache/spark/sql/arrow/ArrowColumnVector.java
  lakesoul-spark/src/main/java/org/apache/spark/sql/execution/datasources/parquet/NativeVectorizedReader.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/arrow/ArrowConverters.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/arrow/ArrowUtils.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/arrow/ArrowWriter.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeParquetOutputWriter.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeParquetPartitionReaderFactory.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/sources/LakeSoulSQLConf.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/vectorized/NativeIOUtils.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/execution/datasource/MergeOperatorSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/execution/datasource/parquet/ParquetNativeFilterSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/DDLSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/UpdateSQLSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/UpdateSuiteBase.scala
  native-io/lakesoul-io-c/src/lib.rs
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOBase.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOReader.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/jnr/JnrLoader.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/jnr/LibLakeSoulIO.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/memory/ArrowMemoryUtils.java
  native-io/lakesoul-io-java/src/main/scala/com/dmetasoul/lakesoul/LakeSoulArrowReader.scala
  native-io/lakesoul-io-java/src/test/scala/com/dmetasoul/lakesoul/TestLakeSoulNativeReaderWriter.scala
  native-io/lakesoul-io/src/default_column_stream/default_column_stream.rs
  native-io/lakesoul-io/src/default_column_stream/empty_schema_stream.rs
  native-io/lakesoul-io/src/default_column_stream/mod.rs
  native-io/lakesoul-io/src/filter/parser.rs
  native-io/lakesoul-io/src/lakesoul_reader.rs
  native-io/lakesoul-io/src/sorted_merge/sorted_stream_merger.rs
  native-io/lakesoul-io/src/transform.rs
Labels: native-io
