Repository lakesoul-io/LakeSoul, pull requests merged in 2023-08, with the labels that each got.

#297 [Flink] fix jackson-core package in flink
  lakesoul-flink/pom.xml
  lakesoul-spark/pom.xml
  native-io/lakesoul-io-java/pom.xml
Labels: bug

#298 [Docs] update docs
  website/docs/01-Getting Started/01-setup-local-env.md
  website/docs/03-Usage Docs/02-setup-spark.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/01-Getting Started/01-setup-local-env.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/02-setup-spark.md
Labels: documentation

#303 [Flink] upgrade flink cdc connector to 2.4
  lakesoul-flink/pom.xml
Labels: enhancement, flink

#304 clean old compaction data and redundant data
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/clean/CleanExpiredData.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/clean/CleanOldCompaction.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/clean/CleanUtils.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/tables/LakeSoulTable.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/tables/execution/LakeSoulTableOperations.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/LakeSoulUtils.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/commands/CompactionCommand.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/CleanOldCompactionSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/CompactionSuite.scala
Labels: enhancement

#305 [Python][Native-Metadata] Python interface of lakesoul metadata
  .gitignore
  native-metadata/lakesoul-metadata-c/src/lib.rs
  python/compile_pb.sh
  python/metadata/__init__.py
  python/metadata/dao.py
  python/metadata/db_manager.py
  python/metadata/lib/__init__.py
  python/metadata/lib/const.py
  python/metadata/lib/lakesoul_metadata_c.py
  python/metadata/native_client.py
  python/metadata/poc.py
  python/metadata/requirement.txt
  python/metadata/utils.py
Labels: enhancement, native-io, python

#306 [Python] C callback with data
  native-io/lakesoul-io-c/src/lib.rs
Labels: enhancement, native-io, python

#307 [Flink] Optimize CDC sink serde with Fury
  .github/workflows/deployment.yml
  .github/workflows/flink-cdc-test.yml
  .github/workflows/maven-test.yml
  .github/workflows/native-build.yml
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/LibLakeSoulMetaData.java
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/MysqlCdc.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/BulkFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/DefaultOneTableBulkFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkGlobalCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/AbstractLakeSoulMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulRowDataOneTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/TableSchemaWriterCreator.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/BinarySourceRecordSerializer.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/LakeSoulRecordConvert.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/LakeSoulRowDataWrapper.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/TableSchemaIdentity.java
Labels: enhancement, flink

#312 [Python] exclude partition column at get_arrow_schema_by_table_name
  python/lakesoul/metadata/db_manager.py
  python/lakesoul/metadata/utils.py
Labels: enhancement, python
