Repository lakesoul-io/LakeSoul, pull requests merged in 2023-12, with the labels that each got.

#367 [Rust] add upsert test cases
  rust/lakesoul-datafusion/src/test/upsert_tests.rs
Labels: enhancement, native-io

#368 [Flink] update fury version to 0.4
  .github/workflows/flink-cdc-hdfs-test.yml
  .github/workflows/maven-test.yml
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/BinarySourceRecordSerializer.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DMLSuite.java
Labels: enhancement, flink

#369 refine upsert test
  rust/lakesoul-datafusion/src/test/upsert_tests.rs
  rust/lakesoul-io/src/lakesoul_io_config.rs
Labels: native-io

#370 [Spark] support call sql syntax
  lakesoul-spark/src/main/antlr4/org.apache.spark.sql.catalyst.parser.extensions/LakeSoulSqlExtensions.g4
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/sql/LakeSoulSparkSessionExtension.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/LakeSoulSparkSqlExtensionsParser.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/LakeSoulSqlExtensionsAstBuilder.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/LakeSoulSqlExtensionsBasicVisitor.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/LakeSoulSqlExtensionsLexer.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/LakeSoulSqlExtensionsListener.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/LakeSoulSqlExtensionsParser.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/LakeSoulSqlExtensionsVisitor.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/CallStatement.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/commands/CallExecCommand.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/rules/ProcessCall.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/DDLSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/CompactionSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/RollbackSuite.scala
Labels: enhancement, spark

#374 [Spark] Support Gluten Vectorized Engine
  .github/workflows/deployment.yml
  .github/workflows/flink-cdc-hdfs-test.yml
  .github/workflows/flink-cdc-test.yml
  .github/workflows/maven-test.yml
  .github/workflows/native-build.yml
  .github/workflows/presto-cdc-test.yml
  .github/workflows/rust-ci.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/website-build.yml
  .github/workflows/website-publish.yml
  lakesoul-common/pom.xml
  lakesoul-spark/pom.xml
  lakesoul-spark/src/main/java/org/apache/spark/sql/execution/datasources/parquet/NativeVectorizedReader.java
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/sql/LakeSoulSparkSessionExtension.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/parquet/NativeParquetOutputWriter.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/rules/GlutenCompatPostInjectColumnar.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/vectorized/GlutenUtils.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/vectorized/NativeIOUtils.scala
  lakesoul-spark/src/test/resources/log4j2-test.properties
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/CDCSuite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/rules/LakeSoulGlutenCompatSuite.scala
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOBase.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOReader.java
  native-io/lakesoul-io-java/src/main/scala/com/dmetasoul/lakesoul/LakeSoulArrowReader.scala
  pom.xml
Labels: enhancement, spark, native-io

#375 [Flink] Support oracle cdc source
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/com/dmetasoul/lakesoul/meta/external/oracle/OracleDBManager.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/OracleCdc.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkOptions.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/LakeSoulRecordConvert.java
Labels: enhancement, flink

#377 [NativeIO] Use rust block api in file read
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/connector/LakeSoulPartitionReader.java
  lakesoul-presto/src/main/java/com/facebook/presto/lakesoul/LakeSoulRecordCursor.java
  lakesoul-spark/src/main/java/org/apache/spark/sql/execution/datasources/parquet/NativeVectorizedReader.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/sources/LakeSoulSQLConf.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/vectorized/GlutenUtils.scala
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOBase.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOReader.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/jnr/JnrLoader.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/jnr/LibLakeSoulIO.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/memory/ArrowMemoryUtils.java
  native-io/lakesoul-io-java/src/main/scala/com/dmetasoul/lakesoul/LakeSoulArrowReader.scala
  native-io/lakesoul-io-java/src/test/scala/com/dmetasoul/lakesoul/TestLakeSoulNativeReaderWriter.scala
  rust/lakesoul-io-c/lakesoul_c_bindings.h
  rust/lakesoul-io-c/src/lib.rs
  rust/lakesoul-io/src/lakesoul_reader.rs
Labels: enhancement, native-io

#376 [Flink] Add export to external dbs for LakeSoul's tables
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/OracleCdc.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/SyncDatabase.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkDatabasesOptions.java
Labels: enhancement, flink

#382 [Rust] Add LakeSoulHashTable Sink for DataFusion
  rust/Cargo.lock
  rust/lakesoul-datafusion/src/catalog/mod.rs
  rust/lakesoul-datafusion/src/datasource/file_format/metadata_format.rs
  rust/lakesoul-datafusion/src/datasource/table_provider.rs
  rust/lakesoul-datafusion/src/error.rs
  rust/lakesoul-datafusion/src/lakesoul_table/helpers.rs
  rust/lakesoul-datafusion/src/lakesoul_table/mod.rs
  rust/lakesoul-datafusion/src/planner/physical_planner.rs
  rust/lakesoul-datafusion/src/test/upsert_tests.rs
  rust/lakesoul-io/Cargo.toml
  rust/lakesoul-io/src/datasource/listing.rs
  rust/lakesoul-io/src/helpers.rs
  rust/lakesoul-io/src/lakesoul_io_config.rs
  rust/lakesoul-io/src/lakesoul_writer.rs
  rust/lakesoul-io/src/lib.rs
  rust/lakesoul-io/src/repartition/distributor_channels.rs
  rust/lakesoul-io/src/repartition/mod.rs
Labels: enhancement, native-io

#384 [NativeIO] Enable parquet rowgroup prefetch. Support s3 host style access
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-presto/src/main/java/com/facebook/presto/lakesoul/LakeSoulConfig.java
  lakesoul-presto/src/main/java/com/facebook/presto/lakesoul/LakeSoulRecordCursor.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/vectorized/NativeIOUtils.scala
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOBase.java
  rust/Cargo.lock
  rust/Cargo.toml
  rust/lakesoul-datafusion/src/catalog/mod.rs
  rust/lakesoul-datafusion/src/datasource/file_format/metadata_format.rs
  rust/lakesoul-datafusion/src/datasource/mod.rs
  rust/lakesoul-datafusion/src/datasource/table_provider.rs
  rust/lakesoul-datafusion/src/error.rs
  rust/lakesoul-datafusion/src/lakesoul_table/helpers.rs
  rust/lakesoul-datafusion/src/lakesoul_table/mod.rs
  rust/lakesoul-datafusion/src/lib.rs
  rust/lakesoul-datafusion/src/planner/mod.rs
  rust/lakesoul-datafusion/src/planner/physical_planner.rs
  rust/lakesoul-datafusion/src/planner/query_planner.rs
  rust/lakesoul-datafusion/src/serialize/arrow_java.rs
  rust/lakesoul-datafusion/src/serialize/mod.rs
  rust/lakesoul-datafusion/src/test/insert_tests.rs
  rust/lakesoul-datafusion/src/test/mod.rs
  rust/lakesoul-datafusion/src/test/upsert_tests.rs
  rust/lakesoul-io-c/build.rs
  rust/lakesoul-io/src/datasource/empty_schema.rs
  rust/lakesoul-io/src/datasource/file_format.rs
  rust/lakesoul-io/src/datasource/listing.rs
  rust/lakesoul-io/src/datasource/mod.rs
  rust/lakesoul-io/src/datasource/parquet_source.rs
  rust/lakesoul-io/src/datasource/physical_plan/empty_schema.rs
  rust/lakesoul-io/src/datasource/physical_plan/merge.rs
  rust/lakesoul-io/src/datasource/physical_plan/mod.rs
  rust/lakesoul-io/src/filter/parser.rs
  rust/lakesoul-io/src/hdfs/mod.rs
  rust/lakesoul-io/src/hdfs/util.rs
  rust/lakesoul-io/src/helpers.rs
  rust/lakesoul-io/src/lakesoul_io_config.rs
  rust/lakesoul-io/src/lakesoul_reader.rs
  rust/lakesoul-io/src/lakesoul_writer.rs
  rust/lakesoul-io/src/lib.rs
  rust/lakesoul-io/src/projection/mod.rs
  rust/lakesoul-io/src/repartition/distributor_channels.rs
  rust/lakesoul-io/src/repartition/mod.rs
  rust/lakesoul-io/src/sorted_merge/merge_operator.rs
  rust/lakesoul-io/src/sorted_merge/mod.rs
  rust/lakesoul-io/src/sorted_merge/sorted_stream_merger.rs
  rust/lakesoul-metadata-c/src/lib.rs
  rust/lakesoul-metadata/src/error.rs
  rust/lakesoul-metadata/src/lib.rs
  rust/lakesoul-metadata/src/metadata_client.rs
  rust/proto/build.rs
  rust/proto/src/lib.rs
  script/benchmark/presto/catalog/lakesoul.properties
Labels: enhancement, native-io
