Repository lakesoul-io/LakeSoul, pull requests merged in 2024-08, with the labels that each got.

#522 [Fix/Flink] Fix flink read bug of files with different schema
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/JdbcCDC.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/MysqlCdc.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/OracleCdc.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulAllPartitionDynamicSplitEnumerator.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/FlinkCDCMultiTableTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/LakeSoulArrowConnectorCase.java
Labels: bug, flink

#523 [Java] upgrade substrait for antlr4 compatibility. reduce binary size
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/main/scala/com/dmetasoul/lakesoul/LakeSoulArrowReader.scala
  rust/Cargo.toml
Labels: java, dependencies, native-io

#526 [Test] Cl test add flink sql check
  .github/workflows/flink-cdc-hdfs-test.yml
  .github/workflows/flink-cdc-test.yml
  .github/workflows/presto-cdc-test.yml
  docker/lakesoul-docker-compose-env/meta_init.sql
  docker/lakesoul-docker-compose-env/mysql_init.sql
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/benchmark/LakeSoulFlinkDataCheck.java
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/compaction/CompactionTask.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/benchmark/Benchmark.scala
  script/benchmark/2_insert_table_data.sh
  script/benchmark/3_add_column.py
  script/benchmark/4_update_data.py
  script/benchmark/5_change_column_type.py
  script/benchmark/6_drop_column.py
  script/benchmark/delete_data.py
  script/benchmark/drop_table.py
  script/benchmark/presto/config.properties
Labels: test

#527 [Flink] make sql runner submit only one job
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/SubmitMain.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/Submitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/flink/ExecuteSql.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/flink/FlinkSqlSubmitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/utils/FileUtil.java
Labels: enhancement, flink

#528 [Flink] Allow disable auto schema change. Add batch size config
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/Path.java
  lakesoul-common/src/main/scala/com/dmetasoul/lakesoul/meta/DataOperation.scala
  lakesoul-common/src/main/scala/com/dmetasoul/lakesoul/meta/MetaVersion.scala
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/flink/FlinkSqlSubmitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/metadata/LakeSoulCatalog.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTableSinkStreamBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkGlobalCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulOneSplitRecordsReader.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/arrow/LakeSoulArrowSplitRecordsReader.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulKeyGen.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkOptions.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/LakeSoulTestUtils.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DMLSuite.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/schema/SchemaMigrationTest.java
Labels: enhancement, flink

#529 [Flink] fix timestamp hash. add type validation
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/metadata/LakeSoulCatalog.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulKeyGen.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/BinarySourceRecord.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DDLSuite.java
Labels: bug, flink

#530 [Flink] Support session job when sync to external db
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/SyncDatabase.java
Labels: bug, flink
