Repository lakesoul-io/LakeSoul, pull requests merged in 2024-03, with the labels that each got.

#449 [Rust]DataFusion connector supports partition column
  rust/Cargo.lock
  rust/Cargo.toml
  rust/lakesoul-datafusion/Cargo.toml
  rust/lakesoul-datafusion/src/catalog/mod.rs
  rust/lakesoul-datafusion/src/datasource/file_format/metadata_format.rs
  rust/lakesoul-datafusion/src/datasource/table_provider.rs
  rust/lakesoul-datafusion/src/error.rs
  rust/lakesoul-datafusion/src/lakesoul_table/helpers.rs
  rust/lakesoul-datafusion/src/lakesoul_table/mod.rs
  rust/lakesoul-datafusion/src/planner/physical_planner.rs
  rust/lakesoul-datafusion/src/test/insert_tests.rs
  rust/lakesoul-datafusion/src/test/mod.rs
  rust/lakesoul-datafusion/src/test/upsert_tests.rs
  rust/lakesoul-io/src/datasource/file_format.rs
  rust/lakesoul-io/src/datasource/listing.rs
  rust/lakesoul-io/src/datasource/mod.rs
  rust/lakesoul-io/src/datasource/parquet_source.rs
  rust/lakesoul-io/src/datasource/physical_plan/defatul_column.rs
  rust/lakesoul-io/src/datasource/physical_plan/merge.rs
  rust/lakesoul-io/src/datasource/physical_plan/mod.rs
  rust/lakesoul-io/src/helpers.rs
  rust/lakesoul-io/src/lakesoul_io_config.rs
  rust/lakesoul-io/src/lakesoul_reader.rs
  rust/lakesoul-io/src/lakesoul_writer.rs
  rust/lakesoul-io/src/lib.rs
  rust/lakesoul-io/src/repartition/distributor_channels.rs
  rust/lakesoul-io/src/repartition/mod.rs
  rust/lakesoul-metadata/src/metadata_client.rs
Labels: native-io

#448 [Rust] add create split logic in rust
  cpp/CMakeLists.txt
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/LibLakeSoulMetaData.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/NativeMetadataJavaClient.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/SplitDesc.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulPendingSplits.java
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/SplitDescSuite.scala
  rust/Cargo.lock
  rust/Cargo.toml
  rust/lakesoul-datafusion/.gitignore
  rust/lakesoul-datafusion/src/benchmarks/mod.rs
  rust/lakesoul-datafusion/src/benchmarks/tpch/mod.rs
  rust/lakesoul-datafusion/src/benchmarks/tpch/run.rs
  rust/lakesoul-datafusion/src/datasource/file_format/metadata_format.rs
  rust/lakesoul-datafusion/src/lib.rs
  rust/lakesoul-datafusion/src/test/catalog_tests.rs
  rust/lakesoul-datafusion/src/test/integration_tests.rs
  rust/lakesoul-io-c/src/lib.rs
  rust/lakesoul-io/src/datasource/parquet_source.rs
  rust/lakesoul-metadata-c/.gitignore
  rust/lakesoul-metadata-c/Cargo.toml
  rust/lakesoul-metadata-c/src/lib.rs
  rust/lakesoul-metadata-c/test_bindings/CMakeLists.txt
  rust/lakesoul-metadata-c/test_bindings/binding.h
  rust/lakesoul-metadata-c/test_bindings/binding_test.cc
  rust/lakesoul-metadata/Cargo.toml
  rust/lakesoul-metadata/src/error.rs
  rust/lakesoul-metadata/src/lib.rs
  rust/lakesoul-metadata/src/metadata_client.rs
  rust/lakesoul-metadata/src/transfusion.rs
  rust/proto/Cargo.toml
Labels: native-io

#451 [Rust] (metadata) move metadataclient to rawclient
  lakesoul-common/pom.xml
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/LibLakeSoulMetaData.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/NativeMetadataJavaClient.java
  lakesoul-common/src/test/java/com/dmetasoul/lakesoul/meta/jnr/SubstraitTest.java
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/SplitDescSuite.scala
  rust/Cargo.lock
  rust/Cargo.toml
  rust/lakesoul-metadata-c/src/lib.rs
  rust/lakesoul-metadata/Cargo.toml
  rust/lakesoul-metadata/src/error.rs
  rust/lakesoul-metadata/src/metadata_client.rs
  rust/lakesoul-metadata/src/transfusion.rs
Labels: enhancement, native-io

#457 [Project] Refine shade pacakges
  lakesoul-common/pom.xml
  lakesoul-flink/pom.xml
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/main/scala/org/apache/spark/sql/arrow/ArrowUtils.scala
  native-io/lakesoul-io-java/src/test/scala/com/dmetasoul/lakesoul/TestLakeSoulNativeReaderWriter.scala
Labels: release

#427 [Flink] Fix LakeSoul table export with timestamp local timezone type
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/SyncDatabase.java
Labels: bug, flink

#458 [Flink]fix readPartitionInfo on UpdateCommit
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBManager.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/state/LakeSoulMultiTableSinkCommittable.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/state/LakeSoulSinkCommittableSerializer.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/AbstractLakeSoulMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulWriterBucket.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulRowLevelModificationScanContext.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkOptions.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/sink/LakeSoulTableSinkCase.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DMLSuite.java
Labels: bug, flink

#462 [Project] Adjust pom and version
  lakesoul-common/pom.xml
  lakesoul-flink/pom.xml
  lakesoul-presto/pom.xml
  lakesoul-spark/pom.xml
  native-io/lakesoul-io-java/pom.xml
  pom.xml
  website/docs/01-Getting Started/01-setup-local-env.md
  website/docs/02-Tutorials/02-flink-cdc-sink/index.md
  website/docs/02-Tutorials/07-kafka-topics-data-to-lakesoul.md
  website/docs/03-Usage Docs/02-setup-spark.md
  website/docs/03-Usage Docs/05-flink-cdc-sync.md
  website/docs/03-Usage Docs/06-flink-lakesoul-connector.md
  website/docs/03-Usage Docs/08-auto-compaction-task.md
  website/docs/03-Usage Docs/09-clean-redundant-data.md
  website/docs/03-Usage Docs/13-setup-kyuubi.md
  website/docs/03-Usage Docs/14-export-to-databases.md
  website/docs/03-Usage Docs/15-spark-gluten/index.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/01-Getting Started/01-setup-local-env.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/02-Tutorials/02-flink-cdc-sink/index.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/02-Tutorials/07-kafka-topics-data-to-lakesoul.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/02-setup-spark.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/05-flink-cdc-sync.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/06-flink-lakesoul-connector.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/08-auto-compaction-task.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/09-clean-redundant-data.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/13-setup-kyuubi.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/14-export-to-databases.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/15-spark-gluten/index.md
Labels: bug, release

#459 [Flink]support Delete statement on partition column
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBManager.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulLookupTableSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulRowLevelModificationScanContext.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkOptions.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/sink/LakeSoulTableSinkCase.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DMLSuite.java
Labels: enhancement, flink

#467 [Project] Fix pom flattern issue
  lakesoul-common/pom.xml
  lakesoul-flink/pom.xml
  lakesoul-spark/pom.xml
  native-io/lakesoul-io-java/pom.xml
  pom.xml
  website/docs/01-Getting Started/02-spark-guide.mdx
  website/docs/03-Usage Docs/02-setup-spark.md
  website/docusaurus.config.js
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/01-Getting Started/02-spark-guide.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/02-setup-spark.md
Labels: bug, release
