Repository lakesoul-io/LakeSoul, pull requests merged in 2024-10, with the labels that each got.

#549 [Spark]optimize fileInfo Scan
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/merge/MergeParquetScan.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/merge/MergePartitionedFileUtil.scala
Labels: enhancement, spark

#553 [FLINK] fix SyncDatabase bug
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/SyncDatabase.java
Labels: bug, flink

#551 [Spark] Optimize Clean Task sql
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/clean/CleanExpiredData.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/clean/CleanOldCompaction.scala
Labels: spark

#550 [Java]Add LakeSoulLocalJavaWriter
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBConfig.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBManager.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/NativeParquetWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/arrow/NativeLakeSoulArrowWrapperWriter.java
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/DDLSuite.scala
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/LakeSoulArrowUtils.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/LakeSoulLocalJavaWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/ArrowBatchWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/ArrayWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/ArrowFieldWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/BigIntWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/BinaryWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/BooleanWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/DateWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/DecimalWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/DoubleWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/FloatWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/IntWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/MapWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/NullWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/RowWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/SmallIntWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/TimeWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/TimestampWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/TinyIntWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/VarBinaryWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/local/arrow/writers/VarCharWriter.java
  rust/lakesoul-io/src/async_writer/mod.rs
  rust/lakesoul-io/src/async_writer/multipart_writer.rs
  rust/lakesoul-io/src/async_writer/partitioning_writer.rs
  rust/lakesoul-io/src/async_writer/sort_writer.rs
  rust/lakesoul-io/src/helpers.rs
  rust/lakesoul-io/src/lakesoul_reader.rs
  rust/lakesoul-io/src/lakesoul_writer.rs
  rust/lakesoul-io/src/transform.rs
Labels: enhancement, java, native-io
