Repository lakesoul-io/LakeSoul, pull requests merged in 2024-07, with the labels that each got.

#503 [Python/Native] Support Python read pk table
  cpp/CMakeLists.txt
  cpp/build-requirements.txt
  cpp/compile.sh
  cpp/include/lakesoul/lakesoul_data_reader.h
  cpp/include/lakesoul/lakesoul_dataset.h
  cpp/include/lakesoul/lakesoul_fragment.h
  cpp/src/lakesoul/lakesoul_data_reader.cpp
  cpp/src/lakesoul/lakesoul_dataset.cpp
  cpp/src/lakesoul/lakesoul_fragment.cpp
  docker/lakesoul-python-wheel-build-env/Dockerfile
  pyproject.toml
  python/examples/README.md
  python/examples/food101/README.md
  python/examples/lakesoul-docker-compose-env/docker-compose.yml
  python/examples/lakesoul_env.sh
  python/examples/requirements.txt
  python/examples/titanic/README.md
  python/examples/titanic/import_data.py
  python/host_build_wheel.py
  python/lakesoul/arrow/_lakesoul_dataset.pyx
  python/lakesoul/arrow/_lakesoul_dataset_cpp.pxd
  python/lakesoul/arrow/dataset.py
  python/lakesoul/huggingface/from_lakesoul.py
  python/lakesoul/metadata/dao.py
  python/lakesoul/metadata/db_manager.py
  python/lakesoul/metadata/meta_ops.py
  python/lakesoul/ray/read_lakesoul.py
  python/lakesoul/torch/dataset.py
  python/tests/arrow/test_lakesoul_read.py
  rust/lakesoul-io-c/lakesoul_c_bindings.h
  rust/lakesoul-io-c/src/lib.rs
  rust/lakesoul-io/src/lakesoul_reader.rs
  website/docs/03-Usage Docs/11-machine-learning-support.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/11-machine-learning-support.md
Labels: bug, enhancement, native-io, python

#504 [Flink] Fix hdfs ns dir permission
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/metadata/LakeSoulCatalog.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkGlobalCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-flink/src/test/java/com/dmetasoul/lakesoul/meta/LakeSoulRBACTest.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/vectorized/NativeIOUtils.scala
  script/meta_rbac_init.sql
Labels: bug, flink

#505 [Fix/Spark] Fix spark type compatibility with flink's time and timestamp types
  lakesoul-spark/src/main/java/org/apache/spark/sql/arrow/ArrowColumnVector.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/arrow/ArrowWriter.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/execution/datasources/LakeSoulFileWriter.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/commands/CompactionCommand.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/CompactionSuite.scala
  native-io/lakesoul-io-java/src/main/scala/org/apache/spark/sql/arrow/ArrowUtils.scala
Labels: bug, spark

#506 [Native] Update hdfs-sys to use 3.3 libhdfs version
  rust/Cargo.lock
  rust/lakesoul-io/src/hdfs/mod.rs
Labels: bug, native-io

#507 [NativeIO]Doris filter support
  lakesoul-common/src/main/scala/com/dmetasoul/lakesoul/meta/DataOperation.scala
  lakesoul-common/src/main/scala/com/dmetasoul/lakesoul/meta/MetaVersion.scala
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/SubstraitTest.java
  native-io/lakesoul-io-java/pom.xml
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/substrait/SubstraitUtil.java
  rust/lakesoul-datafusion/src/lakesoul_table/mod.rs
  rust/lakesoul-datafusion/src/test/benchmarks/tpch/mod.rs
  rust/lakesoul-datafusion/src/test/integration_tests.rs
Labels: native-io

#508 [Docs] Update version in docs
  website/docusaurus.config.js
Labels: documentation, release

#512 [NativeIO]substrait filter completion
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/substrait/SubstraitUtil.java
Labels: enhancement, native-io

#513 [NativeIO]fix native-io shade pattern
  native-io/lakesoul-io-java/pom.xml
Labels: bug, native-io

#515 [Docs] Update package download links in docs
  pom.xml
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/01-Getting Started/01-setup-local-env.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/01-Getting Started/03-Flink-Guide.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/02-Tutorials/02-flink-cdc-sink/index.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/02-setup-spark.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/05-flink-cdc-sync.md
Labels: documentation

#516 [Spark] fix auto compaction task bug when partition are multi levels
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/compaction/CompactionTask.scala
Labels: bug, spark

#517 [NativeIO]native reader backward compatible
  rust/lakesoul-datafusion/src/datasource/file_format/metadata_format.rs
  rust/lakesoul-datafusion/src/datasource/table_provider.rs
  rust/lakesoul-datafusion/src/test/integration_tests.rs
  rust/lakesoul-io/src/datasource/file_format.rs
  rust/lakesoul-io/src/datasource/listing.rs
  rust/lakesoul-io/src/lakesoul_reader.rs
Labels: bug, native-io

#518 [NativeIO]mark implementation of fields loop
  rust/lakesoul-datafusion/src/datasource/file_format/metadata_format.rs
  rust/lakesoul-datafusion/src/datasource/table_provider.rs
  rust/lakesoul-io/src/datasource/file_format.rs
  rust/lakesoul-io/src/datasource/listing.rs
  rust/lakesoul-io/src/datasource/physical_plan/merge.rs
  rust/lakesoul-io/src/helpers.rs
  rust/lakesoul-io/src/lakesoul_writer.rs
  rust/lakesoul-io/src/sorted_merge/sorted_stream_merger.rs
  rust/lakesoul-io/src/transform.rs
Labels: documentation, native-io

#519 [Flink] Fix rolling file and row group size configs
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTableSinkStreamBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulRollingPolicyImpl.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/DynamicPartitionNativeParquetWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulWriterBucket.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/NativeParquetWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/arrow/LakeSoulArrowWriterBucket.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/arrow/NativeLakeSoulArrowWrapperWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkOptions.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/arrow/LakeSoulArrowWrapper.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/LakeSoulArrowConnectorCase.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOWriter.java
Labels: bug, flink
