Repository lakesoul-io/LakeSoul, pull requests merged in 2024-09, with the labels that each got.

#535 [Flink]fix partition filter
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/SubstraitTest.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/substrait/SubstraitUtil.java
  rust/Cargo.lock
  rust/lakesoul-io/Cargo.toml
  rust/lakesoul-io/src/constant.rs
  rust/lakesoul-io/src/datasource/file_format.rs
  rust/lakesoul-io/src/datasource/listing.rs
  rust/lakesoul-io/src/helpers.rs
  rust/lakesoul-io/src/transform.rs
Labels: bug, flink

#536 [Native] Augment libhdfs error with java stacktrace
  rust/Cargo.lock
  rust/lakesoul-io-c/src/lib.rs
  rust/lakesoul-io/Cargo.toml
  rust/lakesoul-io/src/hdfs/mod.rs
  rust/lakesoul-io/src/lakesoul_io_config.rs
Labels: enhancement, native-io

#533 [Flink/NativeIO] Update async writer interface && add mem_limit option
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/connector/LakeSoulPartitionReader.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTableSinkStreamBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTablesSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkGlobalCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/state/LakeSoulWriterBucketState.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/state/LakeSoulWriterBucketStateSerializer.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/AbstractLakeSoulMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/DynamicPartitionNativeParquetWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulWriterBucket.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/NativeBucketWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/NativeParquetWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/TableSchemaWriterCreator.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/arrow/LakeSoulArrowMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/arrow/LakeSoulArrowWriterBucket.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/arrow/NativeLakeSoulArrowWrapperWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulOneSplitRecordsReader.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/arrow/LakeSoulArrowSplitRecordsReader.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/FlinkUtil.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkOptions.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/NativeOptions.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/types/TableSchemaIdentity.java
  lakesoul-flink/src/test/java/com/dmetasoul/lakesoul/SinkMemoryLeakTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/sink/ArrowSinkDemo.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/LakeSoulArrowConnectorCase.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOBase.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/NativeIOWriter.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/jnr/LibLakeSoulIO.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/memory/ArrowMemoryUtils.java
  rust/Cargo.lock
  rust/Cargo.toml
  rust/lakesoul-datafusion/src/datasource/file_format/metadata_format.rs
  rust/lakesoul-datafusion/src/test/upsert_tests.rs
  rust/lakesoul-io-c/Cargo.toml
  rust/lakesoul-io-c/lakesoul_c_bindings.h
  rust/lakesoul-io-c/src/lib.rs
  rust/lakesoul-io/Cargo.toml
  rust/lakesoul-io/examples/writer_profiling.rs
  rust/lakesoul-io/src/async_writer/mod.rs
  rust/lakesoul-io/src/async_writer/multipart_writer.rs
  rust/lakesoul-io/src/async_writer/partitioning_writer.rs
  rust/lakesoul-io/src/async_writer/sort_writer.rs
  rust/lakesoul-io/src/constant.rs
  rust/lakesoul-io/src/filter/parser.rs
  rust/lakesoul-io/src/helpers.rs
  rust/lakesoul-io/src/lakesoul_io_config.rs
  rust/lakesoul-io/src/lakesoul_writer.rs
  rust/lakesoul-io/src/lib.rs
  rust/lakesoul-io/src/transform.rs
Labels: enhancement, flink, native-io

#537 [Native] Refine hdfs error msg
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/metadata/LakeSoulCatalog.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/sink/LakeSoulTableSinkCase.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/fail/LakeSoulSinkFailTest.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DMLSuite.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DataTypeSupportTest.java
  rust/Cargo.lock
  rust/Cargo.toml
  rust/lakesoul-io/src/hdfs/mod.rs
  rust/lakesoul-io/src/lakesoul_io_config.rs
Labels: enhancement, native-io

#541 [Spark] Optimization of Compaction Service
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/clean/CleanExpiredData.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/clean/CleanOldCompaction.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/clean/CleanUtils.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/compaction/CompactionTask.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/tables/LakeSoulTable.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/tables/execution/LakeSoulTableOperations.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/LakeSoulUtils.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/commands/CompactionCommand.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/commands/CleanOldCompactionSuite.scala
Labels: enhancement, spark

#540 [Flink/BugFix]Fix jnr buffer && Decoupling table hash_bucket_num and sink parallelism
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/NativeMetadataJavaClient.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/HashPartitioner.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTableSinkStreamBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/DefaultMultiTablesBulkFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/DefaultOneTableBulkFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkOptions.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/substrait/SubstraitUtil.java
Labels: bug, flink

#532 [Flink] Integrate open lineage
  .github/workflows/consistency-ci.yml
  .github/workflows/deployment.yml
  .github/workflows/native-build.yml
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/SyncDatabase.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/flink/ExecuteSql.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/flink/FlinkSqlSubmitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/entry/sql/flink/LakeSoulInAndOutputJobListener.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTablesSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/DefaultOneTableBulkFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulLookupTableSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/JobOptions.java
Labels: enhancement, flink

#545 [Fix]fix partition filter with null partition value
  rust/lakesoul-io/src/helpers.rs
Labels: bug, flink, native-io

#544 [Spark] Fix partition column non-nullable requirement
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/catalog/LakeSoulCatalog.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/rules/ProcessCDCTableMergeOnRead.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/DataFrameWriterV2Suite.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/TableCreationTests.scala
Labels: bug, spark

#546 [Flink] Fix arrow sink config
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTableSinkStreamBuilder.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/connector/LakeSoulArrowConnectorCase.java
Labels: bug, flink

#547 [NativeIO/Fix]add error info of native writer && fix case of aux_sort_cols
  rust/lakesoul-io/src/async_writer/mod.rs
  rust/lakesoul-io/src/async_writer/multipart_writer.rs
  rust/lakesoul-io/src/async_writer/partitioning_writer.rs
  rust/lakesoul-io/src/async_writer/sort_writer.rs
  rust/lakesoul-io/src/filter/parser.rs
  rust/lakesoul-io/src/helpers.rs
  rust/lakesoul-io/src/lakesoul_io_config.rs
  rust/lakesoul-io/src/lakesoul_writer.rs
  rust/lakesoul-io/src/transform.rs
Labels: bug, native-io
