Repository lakesoul-io/LakeSoul, pull requests merged in 2024-11, with the labels that each got.

#557 [Java] Close connection during shutdown
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBConnector.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBUtil.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/NativeMetadataJavaClient.java
Labels: enhancement, java

#558 [Native] use pool for pg connections
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBUtil.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/LibLakeSoulMetaData.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/NativeMetadataJavaClient.java
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/sources/LakeSoulSQLConf.scala
  rust/Cargo.lock
  rust/lakesoul-metadata-c/src/lib.rs
  rust/lakesoul-metadata/Cargo.toml
  rust/lakesoul-metadata/src/error.rs
  rust/lakesoul-metadata/src/lib.rs
  rust/lakesoul-metadata/src/metadata_client.rs
  rust/lakesoul-metadata/src/pooled_client.rs
  rust/lakesoul-metadata/src/transfusion.rs
  script/meta_rbac_init.sql
Labels: enhancement, native-io

#559 [Flink] Support batch mode for arrow source
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulOneSplitRecordsReader.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/arrow/LakeSoulArrowSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/table/LakeSoulTableSource.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/tool/LakeSoulSinkOptions.java
  lakesoul-flink/src/test/java/org/apache/flink/lakesoul/test/flinkSource/DMLSuite.java
Labels: enhancement, flink

#560 [Flink] Fix potential dead loop in source enumerator
  lakesoul-common/pom.xml
  lakesoul-flink/pom.xml
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulAllPartitionDynamicSplitEnumerator.java
  lakesoul-spark/pom.xml
  native-io/lakesoul-io-java/pom.xml
Labels: bug, flink

#562 [Meta] Optimize meta query for finding newest partition info version
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBManager.java
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/dao/PartitionInfoDao.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulAllPartitionDynamicSplitEnumerator.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulSplitReader.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulStaticSplitEnumerator.java
  rust/Cargo.toml
  rust/lakesoul-metadata/src/lib.rs
Labels: bug, flink

#563 [Doc]add doris doc
  website/docs/03-Usage Docs/15-lakesoul-doris.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/03-Usage Docs/15-lakesoul-doris.md
Labels: documentation

#564 [Flink] Fix source split when context reader missing
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/jnr/JnrLoader.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/source/LakeSoulAllPartitionDynamicSplitEnumerator.java
  native-io/lakesoul-io-java/src/main/java/com/dmetasoul/lakesoul/lakesoul/io/jnr/JnrLoader.java
Labels: bug, flink

#565 [Spark] Refine background jobs
  lakesoul-common/src/main/java/com/dmetasoul/lakesoul/meta/DBUtil.java
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/meta/SparkMetaVersion.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/clean/CleanExpiredData.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/spark/clean/CleanUtils.scala
  lakesoul-spark/src/main/scala/com/dmetasoul/lakesoul/tables/execution/LakeSoulTableOperations.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/SnapshotManagement.scala
  lakesoul-spark/src/main/scala/org/apache/spark/sql/lakesoul/catalog/LakeSoulCatalog.scala
  lakesoul-spark/src/test/scala/org/apache/spark/sql/lakesoul/LakeSoulSinkSuite.scala
Labels: enhancement, spark

#566 [Flink] upgrade to sink v2 api
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/LakeSoulMultiTablesSink.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/BucketsBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/BulkFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/DefaultMultiTablesArrowFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/DefaultMultiTablesBulkFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/bucket/DefaultOneTableBulkFormatBuilder.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/committer/LakeSoulSinkGlobalCommitter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/AbstractLakeSoulMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulRowDataOneTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/LakeSoulWriterBucket.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/arrow/LakeSoulArrowMultiTableSinkWriter.java
  lakesoul-flink/src/main/java/org/apache/flink/lakesoul/sink/writer/arrow/LakeSoulArrowWriterBucket.java
Labels: enhancement, flink
